@charset "utf-8";
/*h2(見出し)要素*/
main h2 {
	color: var(--primary-color);	/*文字色。css冒頭のprimary-colorを読み込みます。*/
	font-size: clamp(1.4rem, 1.5vw, 2.0rem);
	font-weight: 500;	/*文字の太さ。100〜900で指定ができます。*/
}

/*h2内の小文字*/
main h2 .small {
	display: block;
	font-weight: normal;	/*文字の太さを標準に。100〜900の数値での指定も可能です。*/
	font-size: 0.8rem;		/*文字サイズを80%*/
	letter-spacing: 0.1em;	/*文字間隔をほんの少し広く*/
}

/*h3(見出し)要素*/
main h3 {
	font-weight: 500;	/*文字の太さ。100〜900で指定ができます。*/
}

.list-free {
	display: flex;			/*直接の子要素を横並びに*/
    flex-direction: column;	/*一旦縦並びにしておく*/
	margin-bottom: 1vw;	/*ボックスの下（外側）に空けるスペース*/
	gap: 5vw;				/*子要素同士に空けるマージン的な要素。画面幅100%＝100vwです。*/
}

/*h3見出し*/
.list-free h3 {
	margin-top: 0;
	letter-spacing: 0.1em;	/*文字間隔を少しだけ広くする*/
	font-size: 1.5rem;		/*文字サイズを150%に*/
	color: var(--primary-color);	/*文字色。css冒頭で指定しているprimary-colorを読み込みます*/
	position: relative;	/*カギカッコを絶対配置する為に必要な指定*/
}

/*h4見出し*/
.list-free h4 {
	margin-top: 0;
	letter-spacing: 0.1em;	/*文字間隔を少しだけ広くする*/
	font-size: 1.0rem;		/*文字サイズを150%に*/
	color: var(--primary-color);	/*文字色。css冒頭で指定しているprimary-colorを読み込みます*/
	position: relative;	/*カギカッコを絶対配置する為に必要な指定*/
}

/*縦書きスタイル*/
.list-free .vertical-text {margin: auto;}
.list-free .vertical-text::before,
.list-free .vertical-text::after {
	content: "";
	position: absolute;
	width: 20px;	/*カギカッコの幅。お好みで。*/
	height: 50px;	/*カギカッコの高さ。お好みで。*/
	border: 1px solid var(--primary-color);	/*枠線の幅、線種、varは色の事でcss冒頭で指定しているprimary-colorを読み込みます*/
}
.list-free .vertical-text::before {
	top: -15px;		/*テキストからの距離。お好みで。*/
	left: -15px;	/*テキストからの距離。お好みで。*/
	border-right: none;		/*右の線は消す*/
	border-bottom: none;	/*下の線は消す*/
}

.list-free .vertical-text::after {
	bottom: -15px;	/*テキストからの距離。お好みで。*/
	right: -15px;	/*テキストからの距離。お好みで。*/
	border-left: none;	/*左の線は消す*/
	border-top: none;	/*上の線は消す*/
}

.iframe-box {
	width: 100%;
	height: 0;
	padding-top: 56.25%;	/*マップの高さを増やしたい場合は、ここの数値を上げてみて下さい。*/
	position: relative;
}
.iframe-box iframe {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 95%;
	height: 95%;
}
	/*画面幅600px以上の追加指定*/
	@media screen and (min-width:600px) {
	
	/*list-freeボックス*/
	.list-free {
		flex-direction: row;		/*縦並びから横並びにする*/
		align-items: flex-start;	/*中のボックス類を上に寄せる*/
	}
	
	.list-free .vertical-text {
		writing-mode: vertical-rl;	/*縦書きの指定。*/
		text-orientation: upright;	/*文字の向き*/
		padding: 1rem 0.5rem;	/*上下、左右へのh3内の余白*/
	}
	
	/*画像ブロックが３番目（右側）になった場合に画面右側いっぱいまで広げる*/
	.list-free .image.order3 {
		margin-right: calc(-1 * var(--global-space));
	}
	.list-free .image.order3 img {
		border-radius: 30px 0px 0px 30px;	/*角丸の指定。左上、右上、右下、左下への順番。*/
	}
	
	/*画像ブロックが１番目（左側）になった場合に画面左側いっぱいまで広げる*/
	.list-free .image.order1 {
		margin-left: calc(-1 * var(--global-space));
	}
	.list-free .image.order1 img {
		border-radius: 0px 30px 30px 0px;	/*角丸の指定。左上、右上、右下、左下への順番。*/
	}

	/*その他（汎用向け）お好みでもっと追加して使ってもOK*/
	
	.list-free .order1 {order: 1;}
	.list-free .order2 {order: 2;}
	.list-free .order3 {order: 3;}
	.list-free .align-self-start {align-self: flex-start;}
	.list-free .align-self-center {align-self: center;}
	.list-free .align-self-end {align-self: flex-end;}

	}

/*練習場所、日時、参加方法テーブル（ta1）
---------------------------------------------------------------------------*/
.ta1 {
	table-layout: fixed;
	border-top: 1px solid #ccc;	/*テーブルの一番上の線。幅、線種、色*/
	width: 100%;				/*幅*/
	margin-bottom: 5rem;		/*テーブルの下に空けるスペース。5文字分。*/
}

/*tr（１行分）タグ設定*/
.ta1 tr {
	border-bottom: 1px solid #ccc;	/*テーブルの下線。幅、線種、色*/
}

/*th（左側）、td（右側）の共通設定*/
.ta1 th, .ta1 td {
	padding: 1rem;		/*ボックス内の余白*/
	word-break: break-all;	/*英語などのテキストを改行で自動的に折り返す設定。これがないと、テーブルを突き抜けて表示される場合があります。*/
}

/*th（左側）のみの設定*/
.ta1 th {
	width: 30%;			/*幅*/
	text-align: left;	/*左よせにする*/
	background: #f5f5f5;	/*背景色*/
}

	/*画面幅900px以上の追加指定*/
	@media screen and (min-width:900px) {

		/*th（左側）のみの設定*/
		.ta1 th {
			width: 20%;		/*幅*/
		}

	}
body {
  margin: 0;
  padding: 0;
  font-family: "Murecho", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
  font-optical-sizing: auto;
  -webkit-text-size-adjust: none;
  background: #fff;
  color: #777;
  line-height: 2;
  overflow-x: hidden;
}
html, body {
  font-size: 13px;
}